html {
  SCROLLBAR-FACE-COLOR: #FFFFFF; 
  SCROLLBAR-HIGHLIGHT-COLOR: #d8d5d5;
   SCROLLBAR-SHADOW-COLOR: #d8d5d5; 
   SCROLLBAR-3DLIGHT-COLOR: #e3e3e3;
    SCROLLBAR-ARROW-COLOR: #adadad; 
	SCROLLBAR-TRACK-COLOR: #FFFFFF; 
	SCROLLBAR-DARKSHADOW-COLOR: #c9c9c9
  }
a:link {
	color: #0000FF;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;



}

a:visited {
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0000FF;


}

a:hover {
	text-decoration: underline;
	color: #0000FF;
}

a:active {
	color: #000000;
}
body

 {
	font-size: 12px;
	color: #FFFFFF;
	font-family: Arial;
	background-color: #999999;

}
td {
	font-family: Arial;
	font-size: 12px;
	color: #817D52;
}
H1 {
	font-family: Arial;
	font-size: 10px;
	color: #000000;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #77795E;
}
H4 {
	font-family: Arial;
	font-size: 18px;
	font-style: oblique;
	color: #000000;
	text-decoration: underline;
}
